# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=verbose
APPNAME := camApp
builddir:
	mkdir -p builddir

builddir/Makefile: builddir
	cd builddir && qmake PREFIX=/usr ../Source/camApp/camApp.pro

build:	build-stamp

build-stamp: builddir/Makefile
	dh_testdir
	# Add here commands to compile the package.
	cd builddir && $(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	# Add here commands to clean up after the build process.
	rm -rf builddir
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/your_appname
	cd builddir && cp -f -R ${CURDIR}/Source/camApp/main.qml ${CURDIR}/debian/qtcam/usr/share/qml/ && cp ${CURDIR}/Source/camApp/camApp.desktop ${CURDIR}/debian/qtcam/usr/share/applications/ && install -m 755 -p "camApp" "${CURDIR}/debian/qtcam/usr/bin/qtcam"

